@charset "ISO-8859-1";

.dash-analyzer {
	width: 600px;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.btn-send-txt {
	background-color: rgb(242, 242, 242) !important;
}


.scroll-y-position {
	overflow-y: scroll;
}


.cnt-message {
	height: 25px;
	background-color: rgb(242, 242, 242) !important;
}

.cnt-message-without-recursion {
    height: 25px;
    background-color: rgb(66, 148, 182) !important;
}

.non-bullets {
	 list-style-type: none;
}


.nano {
	font-style: normal;
	font-size: 15px;
	font-weight: 400;
}

.size-txt-outputs {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: rgb(242, 242, 242);
    position: absolute;
    left: -305px;
}

.grid-var-and-terms {
	position: absolute;
	top: 68px;
	left: 201px;
	width: 200px;
	height: 400px;
}

.header-variable {
	height: 30px;
	background-color: rgb(242, 242, 242) !important;
}

.header-function {
    height: 30px;
    background-color: rgb(44, 182, 99) !important
}

.header-variable-without-recursion {
    height: 30px;
    background-color: rgb(66, 148, 182) !important;
}

.header-terminal {
	height: 30px;
	background-color: rgb(242, 242, 242) !important;
}

/* variables list  */
.variables-list-cnt {
	position: absolute;
	width: 95px;
	left: -302px;
	height: 200px;
	top: 53px;
	border-style: solid;
	border-color: rgb(242, 242, 242);
}

/* terminals list  */
.terminals-list-cnt {
	position: absolute;
	left: -203px;
	width: 95px;
	height: 200px;
	border-style: solid;
	top: 53px;
	border-color: rgb(242, 242, 242);
}

.grid-var-and-productions {
	position: absolute;
	top: 68px;
	left: 402px;
	width: 197px;
	height: 400px;
}

.variables-list-cnt-procressed {
	position: absolute;
    left: -298px;
    width: 92px;
    height: 200px;
    top: 53px;
    border-style: solid;
    border-color: rgb(242, 242, 242);
}

.header-production  {
	height: 30px;
	background-color: rgb(242, 242, 242) !important;
}


.production-list-cnt-procressed {
	position: absolute;
    left: -207px;
    width: 102px;
    height: 200px;
    top: 53px;
    border-style: solid;
    border-color: rgb(242, 242, 242);
}

/*** new styles upload file **/
.drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px dashed #F2F2F2;
    color: #0094B6;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
  background: #eee;
  border-color: #111;
}

/** variables without recursion container **/

.size-txt-wlr-outputs {
   width: 200px;
   height: 200px;
   border-style: solid;
   border-color: rgb(242, 242, 242);
   position: absolute;
   left: 341px;
}

/* variables list  */
.variables-list-wlr-cnt {
    position: absolute;
    width: 95px;
    left: 544px;
    height: 198px;
    top: 122px;
    border-style: solid;
    border-color: rgb(242, 242, 242);
}


/* terminals list */
.terminals-list-wlr-cnt {
    position: absolute;
    width: 95px;
    left: 642px;
    height: 198px;
    top: 122px;
    border-style: solid;
    border-color: rgb(242, 242, 242);
}


/* Var container without  recursion to left */
.variables-list-cnt-wlr-procressed {
    position: absolute;
    width: 95px;
    left: 740px;
    height: 198px;
    top: 122px;
    border-style: solid;
    border-color: rgb(242, 242, 242);
}

.production-list-cnt-wlr-procressed {
    position: absolute;
    width: 95px;
    left: 813px;
    height: 198px;
    top: 122px;
    border-style: solid;
    border-color: rgb(242, 242, 242);
}

/** labels **/

.with-recursion-label  {
    height: 30px;
    position: absolute;
    width: 601px;
    left: -706px;
    height: 28px;
    top: 2px;
    background-color: rgb(242, 242, 242) !important;
}

.with-recursion-productions-table  {
    height: 10px;
    position: absolute;
    width: 164px;
    left: -282px;
    height: 28px;
    top: 28px;
}

.without-recursion-label  {
    height: 30px;
    position: absolute;
    width: 568px;
    left: 340px;
    height: 28px;
    top: 70px;
    background-color: rgb(66, 148, 182) !important;
}

.without-recursion-productions-table  {
    height: 10px;
    position: absolute;
    width: 164px;
    left: 745px;
    height: 28px;
    top: 97px;
}

/** first function **/

.variables-list-cnt-ff {
    position: absolute;
    width: 95px;
    left: 104px;
    height: 198px;
    top: 347px;
    border-style: solid;
    border-color: rgb(242, 242, 242);
}

.terminals-list-cnt-ff {
    position: absolute;
    width: 140px;
    left: 199px;
    height: 198px;
    top: 347px;
    border-style: solid;
    border-color: rgb(242, 242, 242);
}

.first-function-label {
    height: 30px;
    position: absolute;
    width: 235px;
    left: 150px;
    height: 28px;
    top: 322px;
}

/** follow function **/
.variables-list-cnt-fn {
    position: absolute;
    width: 95px;
    left: 339px;
    height: 198px;
    top: 347px;
    border-style: solid;
    border-color: rgb(242, 242, 242);
}

.terminals-list-cnt-fn {
    position: absolute;
    width: 140px;
    left: 434px;
    height: 198px;
    top: 347px;
    border-style: solid;
    border-color: rgb(242, 242, 242);
}

.follow-function-label {
    height: 30px;
    position: absolute;
    width: 235px;
    left: 388px;
    height: 28px;
    top: 322px;
}