<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Grammar Analyzer</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
	crossorigin="anonymous">

<link href="main.css" rel="stylesheet">
</head>
<body>
	<div id="app" class="dash-analyzer">
		<!-- upload file -->
		<div class="container drop-container">
			<input type="file" ref="file" v-on:change="handleFileUpload()" /><br>
		</div>
		<div style="height: 55px"></div>
		<!-- upload file -->
		<!-- data container  -->
		<div>
			<div class="row">
				<div class="col" style="background-color: rgb(242, 242, 242) !important;" ></div>
			</div>
			<!-- text file grid -->
			<div class="row">
				<div class="col">
					<div class="size-txt-outputs scroll-y-position">
						<div class="cnt-message d-flex justify-content-center">
							<p> Gramática </p>
						</div>
						<ul class="unstyled non-bullets">
							<li v-for="txtElementRaw in grammarItem.rawTextList" class="nano">
								{{ txtElementRaw.line }}</li>
						</ul>
					</div>
				</div>
				<div class="w-100"></div>
			</div>
			<!-- text file grid  -->
			<!-- variables and terminals grid  -->
			<div class="grid-var-and-terms">
				<!--  variables -->
				<div class="variables-list-cnt scroll-y-position">
					<div class="header-variable d-flex justify-content-center">
						<b>V</b>
					</div>
					<ul class="unstyled non-bullets">
						<li v-for="varElements in grammarItem.variablesList" class="nano">
							{{ varElements.character }}</li>
					</ul>
				</div>
				<!--  variables  -->
				<!--  terminals  -->
				<div class="terminals-list-cnt scroll-y-position">
					<div class="header-terminal d-flex justify-content-center">
						<b>T</b>
					</div>
					<ul class="unstyled non-bullets">
						<li v-for="termElements in grammarItem.terminalsList" class="nano">
							{{ termElements.character }}</li>
					</ul>
				</div>
				<!--  terminals  -->
			</div>
			<!-- variables and terminals grid  -->
			<!-- variables and productions grid  -->
			<div class="grid-var-and-productions">
				<!--  variables -->
				<div class="variables-list-cnt-procressed  scroll-y-position">
					<div class="header-variable d-flex justify-content-center">
						<b>Var</b>
					</div>
					<ul class="unstyled non-bullets">
						<li v-for="varElementsComplex in grammarItem.variablesListComplex" class="nano">
							{{  varElementsComplex.character }}</li>
					</ul>
				</div>
				<!--  variables  -->
				<!--  productions -->
				<div class="production-list-cnt-procressed  scroll-y-position">
					<div class="header-production d-flex justify-content-center">
						<b>Produc</b>
					</div>
					<ul class="unstyled non-bullets">
						<li v-for="prodElementsComplex in grammarItem.terminalsListComplex" class="nano">
							{{  prodElementsComplex.character }}</li>
					</ul>
				</div>
				<!--  productions  -->
				<!--  label with recursion -->
					<div>
						<div class="with-recursion-label d-flex justify-content-center">
							<b>Con recursividad</b>
						</div>
						<div class="with-recursion-productions-table">
							<p>Tabla de producciones</p>
						</div>
						<div style="height: 35px"></div>
					</div>
				<!--  label with recursion -->
			</div>

			<!-- recursion from left --->
			<div class="size-txt-wlr-outputs scroll-y-position">
				<div class="cnt-message d-flex justify-content-center">
					<p> Sin recursividad izq </p>
				</div>
				<!-- without recursivity to the left -->
				<ul class="unstyled non-bullets">
					<li v-for="production in grammarItem.rawTextWithoutLeftRecursion" class="nano">
						{{ production.line }}</li>
				</ul>
				<!-- without recursivity to the left -->
			</div>

			<!-- variables and productions grid  -->
			<!-- section data without recursion to left -->
			<!-- variables [V] -->
			<div class="variables-list-wlr-cnt scroll-y-position">
				<div class="header-variable d-flex justify-content-center">
                    <b>V</b>
                </div>
				<ul class="unstyled non-bullets">
					<li v-for="varElements in grammarItem.variablesList" class="nano">
						{{ varElements.character }}</li>
				</ul>
			</div>
			<!-- variables [V] -->
			<!-- terminals [T] -->
			<div class="terminals-list-wlr-cnt scroll-y-position">
				<div class="header-variable d-flex justify-content-center">
                    <b>T</b>
                </div>
				<ul class="unstyled non-bullets">
					<li v-for="varElements in grammarItem.variablesList" class="nano">
						{{ varElements.character }}</li>
				</ul>
			</div>
			<!-- terminals [T] -->
			<!-- Variables and Productions -->
			<div class="variables-list-cnt-wlr-procressed scroll-y-position">
				<div class="header-variable d-flex justify-content-center">
                    <b>Var</b>
                </div>
				<ul class="unstyled non-bullets">
					<li v-for="varElementsComplex in grammarItem.variablesListComplex" class="nano">
						{{  varElementsComplex.character }}</li>
				</ul>
			</div>
			<div class="production-list-cnt-wlr-procressed  scroll-y-position">
				<div class="header-production d-flex justify-content-center">
                    <b>Produc</b>
                </div>
				<ul class="unstyled non-bullets">
					<li v-for="prodElementsComplex in grammarItem.terminalsListComplex" class="nano">
						{{  prodElementsComplex.character }}</li>
				</ul>
			</div>
			<!-- Variables and Productions -->
			<!-- section data without recursion to left -->
			<!--  label without recursion -->
			<div>
				<div class="without-recursion-label d-flex justify-content-center">
					<b>Sin recursividad</b>
				</div>
				<div class="without-recursion-productions-table">
					<p>Tabla de producciones</p>
				</div>
				<div style="height: 35px"></div>
			</div>
			<!--  label without recursion -->

		</div>
		<!-- data container  -->
	</div>
</body>
<script th:src="@{vue-controller.js}"></script>
</html>
